# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# local env files
.env
.env*.local
.env.development
.env.production

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build / testing outputs
/dist
/build
/coverage

# OS / Editor files
.DS_Store
.vscode/
.idea/
